In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
from sklearn import datasets
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
from apyori import apriori as asp_apr

In [2]:
df1 = pd.read_excel("Trade dataset_Pre Over.xlsx",header = None)
df1

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,BX80646I54460SR1QK,BX80662I36100SR2HG,BX80662I56400SR2L7,BX80662I56500SR2L6,BX80662I76700SR2L2,X79A-GD45-PLUS,Z170A GAMING M5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"PBSS4350T,215","PMBT2222A,215",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"BAT54A,215","BAT54C,215","BAV99,215","NX7002AK,215","PMBS3904,215","PMBS3906,215","PTVS5V0S1UR,115",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"BAT54A,215","BAT54C,215","NX7002AK,215","PMBS3904,215","PMBS3906,215","PTVS5V0S1UR,115",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"74AHC1G08GV,125","74HC125D,653","74LVC125AD,118","PMEG4050EP,115",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36493,LM193DR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36494,"1SS357(TPH3,F)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36495,"1SS357(TPH3,F)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36496,JS28F512M29EWHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36497,T6TD3XB-0003(LO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
records = []
for i in range(0,36498):
    records.append([str(df1.values[i,j]) for j in range(0,251)])

In [4]:
te = TransactionEncoder()
te_ary  = te.fit(records).transform(records)
te_ary

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [5]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df = df.drop(labels=['nan'],axis=1)
df

,01000054Z,01000056Z,01000057Z,01220088Z,01220090Z,01250003H,01500274Z,01500322H,01520903TXN,0154004.DR,...,ZLUSBEVAL3Z,ZM4746A-GS18,ZM4747A-GS08,ZM4749A-GS08,擎網傳奇-凌風,擎網傳奇-凌風-R,擎網傳奇-煉獄,擎網傳奇-破魂,擎網傳奇-破魂-R,賽克 零度C400
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36494,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Apriori

In [22]:
start_apr = time.time()
frequent_itemsets_apr = apriori(df, min_support = 0.001, use_colnames = True, low_memory= True)
frequent_itemsets_apr

    support              itemsets
0  0.008137           (BAV99,215)
1  0.005315   (BX80646G3240SR1K6)
2  0.005151  (BX80662I36100SR2HG)
3  0.005644  (BX80662I56400SR2L7)
4  0.007891  (BX80662I76700SR2L2)
5  0.006000        (MMBT3904LT1G)
6  0.005206        (PMBT3904,215)

In [7]:
frequent_itemsets_apr.sort_values(by= "support", ascending= False).head(20)

      support               itemsets
39   0.008137            (BAV99,215)
73   0.007891   (BX80662I76700SR2L2)
137  0.006000         (MMBT3904LT1G)
67   0.005644   (BX80662I56400SR2L7)
55   0.005315    (BX80646G3240SR1K6)
173  0.005206         (PMBT3904,215)
66   0.005151   (BX80662I36100SR2HG)
33   0.004822           (BAT54C,215)
35   0.004740           (BAT54S,215)
26   0.004576           (BAS316,115)
171  0.004576        (PMBT2222A,215)
72   0.004302  (BX80662I76700KSR2L0)
148  0.003644         (NX7002AK,215)
169  0.003617         (PMBS3904,215)
120  0.003534      (LG-19M38A-B.ATR)
37   0.003534            (BAV70,215)
8    0.003534           (2N7002LT1G)
31   0.003397           (BAT54A,215)
135  0.003370        (MMBT2222ALT1G)
69   0.003315   (BX80662I56500SR2L6)

In [8]:
rules_apr = association_rules(frequent_itemsets_apr, metric = "confidence", min_threshold = 0.8)
end_apr = time.time()
rules_apr

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(PDZ13B,115)","(BAS316,115)",0.001260,0.004576,0.001069,0.847826,185.293153,0.001063,6.541360
1,"(PDZ13B,115)","(BAV99,215)",0.001260,0.008137,0.001041,0.826087,101.516908,0.001031,5.703210
2,(SC6531DA),(HS8292U),0.001562,0.001781,0.001562,1.000000,561.507692,0.001559,inf
3,(HS8292U),(SC6531DA),0.001781,0.001562,0.001562,0.876923,561.507692,0.001559,8.112311
4,"(PBSS4240T,215)","(PBSS5240T,215)",0.001397,0.001891,0.001260,0.901961,477.098039,0.001258,10.180717
5,(SR2319A),(SR2351C),0.001123,0.001096,0.001096,0.975610,890.195122,0.001095,40.955066
6,(SR2351C),(SR2319A),0.001096,0.001123,0.001096,1.000000,890.195122,0.001095,inf
7,"(BAS316,115, 2N7002BK,215)","(BAV99,215)",0.001151,0.008137,0.001041,0.904762,111.185185,0.001032,10.414557
8,"(2N7002BK,215, BAV99,215)","(BAS316,115)",0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
9,"(BAS316,115, BAV70,215)","(BAV99,215)",0.001480,0.008137,0.001315,0.888889,109.234568,0.001303,8.926763
10,"(BAS316,115, BAW56,215)","(BAV99,215)",0.001315,0.008137,0.001233,0.937500,115.208333,0.001222,15.869801
11,"(BAS316,115, PDZ15B,115)","(BAV99,215)",0.001260,0.008137,0.001096,0.869565,106.859903,0.001086,7.604280
12,"(PDZ15B,115, BAV99,215)","(BAS316,115)",0.001233,0.004576,0.001096,0.888889,194.267465,0.001090,8.958820
13,"(BAT54S,215, BAV70,215)","(BAV99,215)",0.001178,0.008137,0.001041,0.883721,108.599483,0.001032,8.530018

In [9]:
def arl_recommender(rules_df, product_id, recommendation_number=1):
    recommendation_list_apr = []
    sorted_rules_apr = rules_apr.sort_values("lift", ascending=False)
    for idx, product in enumerate(sorted_rules_apr["antecedents"]):
        for j in list(product):
            if j == product_id:
              recommendation_list_apr.append(list(sorted_rules_apr.iloc[idx]["consequents"])[0])
    return set(recommendation_list_apr[:recommendation_number])

In [10]:
arl_recommender(rules_apr, "BAV99,215", 30)

{'BAS316,115'}

## FP Growth

In [11]:
fpgrowth(df, min_support = 0.001)

      support        itemsets
0    0.007891          (6689)
1    0.005644          (6682)
2    0.005151          (6679)
3    0.003315          (6685)
4    0.002685          (6646)
..        ...             ...
276  0.001151  (22640, 22624)
277  0.001069  (22640, 22601)
278  0.001534    (6688, 6689)
279  0.001425    (6642, 6637)
280  0.001096    (6637, 6645)

[281 rows x 2 columns]

In [12]:
start_fp = time.time()
frequent_itemsets_fp = fpgrowth(df, min_support = 0.001, use_colnames = True)
frequent_itemsets_fp

      support                                   itemsets
0    0.007891                       (BX80662I76700SR2L2)
1    0.005644                       (BX80662I56400SR2L7)
2    0.005151                       (BX80662I36100SR2HG)
3    0.003315                       (BX80662I56500SR2L6)
4    0.002685                       (BX80646I54460SR1QK)
..        ...                                        ...
276  0.001151                     (WD5000LPLX, WD30EZRZ)
277  0.001069                   (WD5000LPLX, WD1003FZEX)
278  0.001534  (BX80662I76700KSR2L0, BX80662I76700SR2L2)
279  0.001425    (BX80646I34150SR1PJ, BX80646G3240SR1K6)
280  0.001096   (BX80646I54440SSR14L, BX80646G3240SR1K6)

[281 rows x 2 columns]

In [13]:
frequent_itemsets_fp.sort_values(by= "support", ascending= False).head(20)

      support               itemsets
6    0.008137            (BAV99,215)
0    0.007891   (BX80662I76700SR2L2)
40   0.006000         (MMBT3904LT1G)
1    0.005644   (BX80662I56400SR2L7)
200  0.005315    (BX80646G3240SR1K6)
16   0.005206         (PMBT3904,215)
2    0.005151   (BX80662I36100SR2HG)
7    0.004822           (BAT54C,215)
125  0.004740           (BAT54S,215)
5    0.004576        (PMBT2222A,215)
27   0.004576           (BAS316,115)
183  0.004302  (BX80662I76700KSR2L0)
8    0.003644         (NX7002AK,215)
9    0.003617         (PMBS3904,215)
77   0.003534            (BAV70,215)
39   0.003534           (2N7002LT1G)
193  0.003534      (LG-19M38A-B.ATR)
10   0.003397           (BAT54A,215)
93   0.003370        (MMBT2222ALT1G)
3    0.003315   (BX80662I56500SR2L6)

In [14]:
rules_fp = association_rules(frequent_itemsets_fp, metric = "confidence", min_threshold = 0.8)
end_fp = time.time()
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(BAS316,115, BAW56,215)","(BAV99,215)",0.001315,0.008137,0.001233,0.937500,115.208333,0.001222,15.869801
1,"(BAS316,115, PDZ15B,115)","(BAV99,215)",0.001260,0.008137,0.001096,0.869565,106.859903,0.001086,7.604280
2,"(PDZ15B,115, BAV99,215)","(BAS316,115)",0.001233,0.004576,0.001096,0.888889,194.267465,0.001090,8.958820
3,"(BAS316,115, 2N7002BK,215)","(BAV99,215)",0.001151,0.008137,0.001041,0.904762,111.185185,0.001032,10.414557
4,"(2N7002BK,215, BAV99,215)","(BAS316,115)",0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
5,"(BAS316,115, BAV70,215)","(BAV99,215)",0.001480,0.008137,0.001315,0.888889,109.234568,0.001303,8.926763
6,"(BAT54S,215, BAV70,215)","(BAV99,215)",0.001178,0.008137,0.001041,0.883721,108.599483,0.001032,8.530018
7,"(PBSS4240T,215)","(PBSS5240T,215)",0.001397,0.001891,0.001260,0.901961,477.098039,0.001258,10.180717
8,"(PDZ13B,115)","(BAS316,115)",0.001260,0.004576,0.001069,0.847826,185.293153,0.001063,6.541360
9,"(PDZ13B,115)","(BAV99,215)",0.001260,0.008137,0.001041,0.826087,101.516908,0.001031,5.703210
10,(SR2319A),(SR2351C),0.001123,0.001096,0.001096,0.975610,890.195122,0.001095,40.955066
11,(SR2351C),(SR2319A),0.001096,0.001123,0.001096,1.000000,890.195122,0.001095,inf
12,(SC6531DA),(HS8292U),0.001562,0.001781,0.001562,1.000000,561.507692,0.001559,inf
13,(HS8292U),(SC6531DA),0.001781,0.001562,0.001562,0.876923,561.507692,0.001559,8.112311

In [15]:
def arl_recommender_fp(rules_df, product_id, recommendation_number=1):
    recommendation_list_fp = []
    sorted_rules_fp = rules_fp.sort_values("lift", ascending=False)
    for idx, product in enumerate(sorted_rules_fp["antecedents"]):
        for j in list(product):
            if j == product_id:
              recommendation_list_fp.append(list(sorted_rules_fp.iloc[idx]["consequents"])[0])
    return set(recommendation_list_fp[:recommendation_number])

In [16]:
arl_recommender_fp(rules_fp, "SR2351C", 30)

{'SR2319A'}

In [17]:
print("Apriori 所花費時間:", end_apr - start_apr)
print("FP-Growth 所花費時間:", end_fp - start_fp)

Apriori 所花費時間: 0.749321699142456
FP-Growth 所花費時間: 0.7478861808776855